<!DOCTYPE html>
<html className="antialiased" class="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">

  <link rel="icon" href="/icon-light.ico" media="(prefers-color-scheme: light)" />
  <link rel="icon" href="/icon-dark.ico" media="(prefers-color-scheme: dark)" />

  <title>Software Citadel - Console</title>

  @vite(['resources/app.tsx'])
</head>
<body>
  @inertia({ as: 'main', class: 'h-full' })
</body>
</html>
